*.pyc
/src/*.egg-info
/build
/dist
/docs/_build
__pycache__
.eggs/
.cache/
.pytest_cache/
.idea/
/test-report.xml
/test-report-*.xml
venv/
v3nv/
tmp/
.coverage*
.mypy_cache
_version_1.0.wdl
_version_1.1.wdl
_version_draft-2.wdl
